@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay {
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.60);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

